n8n/n8n-workflow/ICU Depletion Early warning.json
{
  "name": "ICU Depletion Early warning",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -752,
        -384
      ],
      "id": "a177b9c8-32c4-4d63-aa95-4ca6342a2b1c",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "hospital_resource_history",
        "limit": 3,
        "filterType": "string",
        "filterString": "hospital_id=eq.1&order=recorded_at.desc"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -464,
        -384
      ],
      "id": "6083cb41-fab2-4b21-af43-9d925fd37ca8",
      "name": "Get many rows",
      "credentials": {
        "supabaseApi": {
          "id": "AZ6tz7ccfP7lRdmF",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get all rows from previous node\nconst records = items.map(item => item.json);\n\n// Need at least 3 records\nif (records.length < 3) {\n  return [];\n}\n\n// Newest first (because of DESC sorting)\nconst newest = records[0];\nconst older = records[1];\nconst oldest = records[2];\n\nconst v1 = newest.icu_available;\nconst v2 = older.icu_available;\nconst v3 = oldest.icu_available;\n\n// Detect consistent decrease\nif (v1 < v2 && v2 < v3) {\n  return [{\n    json: {\n      hospital_id: newest.hospital_id,\n      alert_type: \"ICU_DEPLETION\",\n      severity: \"critical\",\n      message: `ICU dropping from ${v3} → ${v2} → ${v1}`,\n      current_icu: v1\n    }\n  }];\n}\n\n// No trend detected\nreturn [];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -432,
        -112
      ],
      "id": "c269a1e2-f3e8-4b90-b861-9a3a9a5be1cc",
      "name": "Code in JavaScript",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "tableId": "hospital_alerts",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "hospital_id",
              "fieldValue": "={{$json.hospital_id}}"
            },
            {
              "fieldId": "alert_type",
              "fieldValue": "={{$json.alert_type}}"
            },
            {
              "fieldId": "message",
              "fieldValue": "={{$json.message}}"
            },
            {
              "fieldId": "severity",
              "fieldValue": "={{$json.severity}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -112,
        -336
      ],
      "id": "8afc28c2-16d6-4c76-8418-6086c08e322d",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "AZ6tz7ccfP7lRdmF",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "9ff655f1-455f-4ff1-8a87-62f2aca5a1dc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a1d71c1075c9633421bea8ae23a8ac10afc9b9e5d06505ca455996cff452ebfe"
  },
  "id": "ubGKwVb7jzkq6gOj",
  "tags": []
}